@page "/users"
@using TaskPanelLibrary.Entity
@using TaskPanelLibrary.Service
@using TaskPanelLibrary.Service.Interface
@using Task = System.Threading.Tasks.Task
@layout MainLayout
@inject IUserService UserService
@inject NavigationManager NavigationManager
@inject AuthService AuthService

<title>User Management</title>

<h1 class="text-left text-dark font-weight-bold display-4 mb-4">User Management</h1>

@if (_currentUser == null)
{
    NavigationManager.NavigateTo("/error");
}
else if (_currentUser.IsAdmin)
{
    <table class="table table-bordered table-hover mt-3 shadow-sm rounded bg-white">
        <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Birth Date</th>
            <th>Admin</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@user.BirthDate.ToShortDateString()</td>
                <td>@(user.IsAdmin ? "Yes" : "No")</td>
                <td>
                    @if (_currentUser.Id != user.Id && !user.IsAdmin)
                    {
                        <button class="btn btn-outline-warning btn-sm" @onclick="() => EditUser(user.Id)">Edit</button>
                        <button class="btn btn-outline-danger btn-sm ml-2" @onclick="() => DeleteUser(user.Id)">Delete</button>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>

    <div class="d-flex justify-content-start mt-4">
        <button class="btn btn-primary" @onclick="NavigateToAddUser">Create New User</button>
    </div>
}
else
{
    NavigationManager.NavigateTo("/error");
}

@code {
    private List<User> users;
    private User _currentUser;

    protected override async Task OnInitializedAsync()
    {
        if (!AuthService.IsLoggedIn())
        {
            NavigationManager.NavigateTo("/login");
            return;
        }

        _currentUser = AuthService.GetCurrentUser();

        if (_currentUser == null || !_currentUser.IsAdmin)
        {
            NavigationManager.NavigateTo("/Error/NotAuthorized");
            return;
        }

        users = UserService.GetAllUsers();
    }

    private void NavigateToAddUser()
    {
        NavigationManager.NavigateTo("/users/create");
    }

    private User DeleteUser(int id)
    {
        if (!_currentUser.IsAdmin)
        {
            NavigationManager.NavigateTo("/error");
        }

        var user = UserService.DeleteUser(id);
        users = UserService.GetAllUsers();
        return user;
    }

    private void EditUser(int id)
    {
        NavigationManager.NavigateTo(!_currentUser.IsAdmin ? "/error" : $"/users/edit/{id}");
    }
}
